{% extends "base.html" %}

{% block content %}
<form class="form-edit" method="post">
    {% csrf_token %}
    {% if success %}
    <p>Os dados foram alterados com sucesso</p>
    {% endif %}
    <fieldset>
        {{ form.non_field_errors }}
        {% for field in form %}
        <div class="input-box">
            {{ field.label_tag }}<br>
            {{ field }}
            {{ field.errors }}
        </div>
        {% endfor %}
        <button type="submit" class="submit-button">Salvar Modificações</button>
    </fieldset>
</form>
{% endblock %}